* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 10px;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto.ttf");
   }
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

.header {
    background-color: #181823;
    padding: 20px 0;
    box-shadow: 0 0 10px #181823;
    position: sticky;
}
.header--nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    color: #E9F8F9;
    font-size: 1.6rem;
}

.main {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.info {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 8rem;
}

.cv-foto {
    border-radius: 200px;
}

.contacts--list {
    list-style-type: none;
    text-decoration: none;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-education {
    list-style-type: none;
    text-decoration: none;
}

.my-skills--info {
    list-style-type: none;
    text-decoration: none;
    display: flex;
}
.my-skills--item {
    padding: 0 1rem;
}

.footer {
    background-color: #181823;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
